form {
    display: flex;
    flex-direction: column;

    input[name=yes], input[name=no] {
        padding: .5em;
    }
    
    input[name=yes] {
        background-color: lightseagreen;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

header > h1 {
    margin-bottom: 0;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

figure {
    margin: .5em;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    > input[type=button] {
        margin: .5em;
        padding: .5em;
    }
}

section {
    padding: .5em;

    > h2, > h3 {
        margin: 0;
    }
}
