:root {
    --workout-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

::backdrop {
    background-color: var(--workout-color);
    opacity: 10%;
}

input[type=button],
input[type=submit],
button {
    padding: .5em;
}

ul {
    list-style: none;
    margin: 0em;

    input[type=button] {
        padding: 0em;
    }
}

progress {
    max-width: 100%;
    width: 100%;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

::-moz-progress-bar {
    background-color: var(--workout-color);
}

::-webkit-progress-value {
    background-color: var(--workout-color);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

input[name=activity] {
    font-size: 1.5em;
}
