form {
    display: flex;
    flex-direction: column;

    input[name=yes], input[name=no] {
        padding: .5em;
    }
    
    input[name=yes] {
        background-color: lightseagreen;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header > h1 {
    margin-bottom: 0;
}
