:root {
    --workout-color: black;
    --progress-text: 'TIME';
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

progress {
    max-width: 100%;
    width: 100%;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::before {
        position: absolute;
        content: var(--progress-text);
        display: flex;
    }

    &::-moz-progress-bar {
        background-color: var(--workout-color);
    }

    &::-webkit-progress-value {
        background-color: var(--workout-color);
    }
}

::backdrop {
    background-color: var(--workout-color);
    opacity: 10%;
}

/* input[type=button],
input[type=submit],
button {
    padding: .5em;
    margin: .1em;
} */

dialog[is=edit-dialog] ul {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-direction: column;

    li {
        display: flex;
        flex-direction: row;
        flex: 0 .7 min-content;
        margin: .2em;
    }

    input {
        padding: .2em 0 .2em 0;
        margin: 0;
    }
}

dialog[is=timer-dialog] input[name=activity] {
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
}

.hidden {
    transition: max-height 0.5s;
    max-height: 0;
    overflow: hidden;
}

ul,
menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

ul {
    flex-flow: column nowrap;
    padding-bottom: .5em;
}

menu {
    flex-flow: row wrap;
    li {
        padding: .1em;
    }
}

[contenteditable] {
    border: 1px grey solid;
    border-radius: .25em;
    padding: .1em;
    background-color: ghostwhite;
}

label > input[type=file] {
    max-height: 0;
    max-width: 0;
    overflow: hidden;
}

/* GitHub Style Button */
:is(button, .button, input[type=button], input[type=submit]) {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  /* font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; */
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 3px 8px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;

  &:is(a) {
    text-decoration: none;
  }
}

:is(button, .button, input[type=button], input[type=submit]):hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

:is(button, .button, input[type=button], input[type=submit]):disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

:is(button, .button, input[type=button], input[type=submit]):active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

:is(button, .button, input[type=button], input[type=submit]):focus {
  outline: 1px transparent;
}

:is(button, .button, input[type=button], input[type=submit]):before {
  display: none;
}

:is(button, .button, input[type=button], input[type=submit]):-webkit-details-marker {
  display: none;
}